.input{
    padding: 10px;
    border-radius: 20px;
    width: 600px;
    background-color: rgba(231, 237, 240, 0.695);
    margin-bottom: 30px;
    
}
.plan{
    background-color: transparent;
    border: none;
    width: 90%;
}
.plan:focus{
    outline: none;
}
.list{
    max-height: 200px;
    overflow-x: auto;
}