
.taskConteiner{
    display: flex;
    background-color: rgba(231, 237, 240, 0.695);
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 600px;
}
.task{
    margin-right: auto;
    font-size: 12px;

}
.done{
    margin-left: auto;
}