#root{
    margin: 0 auto;
    
}

.header{
    border-radius: 20px;
    overflow: hidden;
    margin: 30px;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 100px;
    margin: 0 auto ;
    align-items: center;
    background-color: rgb(129, 214, 240);
    
    
}
.title{
    font-size: 30px;
    color: white;
    margin: 0;
}

.content{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 400px;
    max-height: 500px;
    
}
.ready{
    margin-top: auto;
}
.list{
    max-height: 200px;
    overflow-x: auto;
}
.list::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}