#root{
    margin: 0 auto;
    
}

.content{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 400px;
    max-height: 500px;
    
}
.ready{
    margin-top: auto;
}
.list{
    max-height: 200px;
    overflow-x: auto;
}
.list::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}